/*********************************/
/*         Shared Styles         */
/*********************************/
*,
*:before,
*:after {
   box-sizing: border-box;
}

body {
  position: relative;
  color: #333;
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
}

strong {
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}


/*********************************/
/*  Shared Buttons, Links, Icons */
/*********************************/

a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem;
  margin: 0;
  padding: 7px 9px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s;
  vertical-align: middle;
}

button:hover, button:active {
  background-color: #f7f7f5;
}

i {
  background-repeat: no-repeat;
  display: inline-block;
  font-style: normal;
  line-height: 0;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.button-text {
  clip: auto;
  display: inline-block;
  height: auto;
  margin: 0 7px 0 9px;
  overflow: visible;
  position: static;
  width: auto;
  vertical-align: middle;
}

.sprite-icon {
  background-image: url("https://a1.nyt.com/assets/article/20170314-141625/images/sprite/sprite-no-repeat.svg");
}


/*********************************/
/*             Header            */
/*********************************/

header {
  background: #fff;
  border-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
  height: 47px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 10000;
}

.quick-nav-button-group {
  display: block;
  float: left;
  left: 15px;
  position: relative;
  margin-top: 8px;
  z-index: 2;
}

.quick-nav-button-group:after {
  clear: both;
}

#logo {
  height: 26px;
  width: 185px;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.user-settings-button-group {
  display: block;
  float: right;
  position: relative;
  margin-top: 8px;
  margin-right: 15px;
  z-index: 2;
}

.user-settings-button-group:after {
  clear: both;
}

.profile-button {
  color: #4d7b9f;
  text-transform: none;
}

.profile-button:active, .profile-button:hover {
  color: #666;
}

.sections-button i {
  background-position: -443px -214px;
  margin-top: -1px;
}

.home-button i {
  background-position: -51px -280px;
  
}

.search-button i {
  background-position: -357px -214px;
  margin-top: -1px;
}

.caret-icon {
  border-left: 4px inset transparent;
  border-right: 4px inset transparent;
  border-top: 4px inset transparent;
  border-bottom: 4px inset transparent;
  border-top: 4px solid #c7c7c7;
  margin-top: 3px; 
  width: 0;
  height: 0;
}

.settings-button i {
  background-position: -494px -214px;
}

.sections-button, .home-button, .search-button, .profile-button {
  font-weight: 700;
  height: 30px;
}

.sections-button {
  border: 1px solid #e2e2e2;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06), 
              inset -1px -1px 1px 0 rgba(0,0,0,0.02);
  border-bottom-color: #cecece;
  margin-right: 6px;
}

#logo-wrapper {
  position: absolute;
  z-index: 1;
  margin-top: 12px;
  width: 100%;
}

#logo-link {
  position: relative;
  height: 26px;
  width: 185px;
}

/*********************************/
/* Other Articles Header Section */
/*********************************/

.header-other-articles {
  box-shadow: 0 4px 4px rgba(0,0,0,0.06);
  border-bottom: 1px solid #ccc;
  display: block;
  margin-bottom: 3px;
  margin-top: 47px;
  height: 82px;
  width: 100%;
  overflow: scroll;
}

ol {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.header-other-articles ol li {
  border-left: 1px solid #fff;
  border-right: 1px solid #e2e2e2;
  float: left;
  margin: 3px 0 5px;
  padding: 0 4px 0 3px;
  width: 249px;
  height: 100%;
}

.header-other-articles ol li a {
  height: 100%;
  width: 100%;
  font-size: 13px;
  line-height: 1rem;
}

.header-other-articles ol li a:hover h2 {
  text-decoration: underline;
}

.thumb img {
  display: block;
  height: 65px;
  width: 65px;
  float: left;
  clear: left;
  margin: 0 10px 0 0;
}

.header-other-articles h2 {
  display: block;
}

.header-other-articles h3 {
  display: block;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  font-size: 0.5625rem;
  line-height: 0.75em;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-top: 4px;
}

.header-other-article-wrapper {
  display: block;
  position: relative;
  padding: 5px;
}


/*********************************/
/*            Article            */
/*********************************/

.article-container {
  display: block;
}

article {
  margin: 0 auto;
  padding-top: 7px;
  border-top: 1px solid #000;
  width: 705px;
}

article h2 {
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  font-size: .8175rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1rem;
  margin-bottom: 32px;
  text-transform: uppercase;
}

article h2 a:hover {
  text-decoration: underline;
}

article h1 {
  font-size: 28px;
  line-height: 2.375rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.article-header-footer {
  border-top: 1px solid #e2e2e2;
  padding-top: 14px;
  display: inline-block;
  width: 100%;
}

.article-header-footer p, .article-tools {
  display: inline-block;
}

.article-header-footer p {
  vertical-align: middle;
}

.article-header-footer span {
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 700;
  margin-right: 12px;
}

.article-header-footer span a:hover span {
  text-decoration: underline;
}

.article-tools {
  float: right;
  top: -5px;
  position: relative;
  clear: both;
}

.article-header-footer time {
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 300;
  margin-right: 12px;
}

.article-tools-list li {
  display: inline-block;
}

.article-tools-list li {
  padding-left: 10px;
}

.article-tools-list #forward-icon {
  padding-right: 10px;
}

.article-tools-list #bookmark-icon {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.article-tools-list li:first-child {
  padding: 0;
}

.article-tools-list li:last-child {
  padding-left: 5px;
}

.article-tools-icon {
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

#facebook-icon i {
  background-position: -33px -54px;
}

#twitter-icon i {
  background-position: 0 -313px;
}

#mail-icon i {
  background-position: -131px -21px;
}

#forward-icon i {
  background-position: -243px -247px;
}

#bookmark-icon i {
  background-position: -306px -214px;
  width: 16px;
}

#comment-icon i {
  position: relative;
  width: 34px;
  height: 24px;
  border: 1px solid #666;
  padding: 5px;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

#comment-icon i:before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 10px;
  border-width: 6px 0 0 8px;
  border-style: solid;
  border-color: #666 transparent;
  display: block;
  width: 0;
}

#comment-icon button:hover {
  background-color: #fff;
}


#comment-icon #comment-count {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}

.article-main-picture {
  margin-top: 10px;
  margin-bottom: 45px;
}

.article-main-picture a img {
  display: block;
  margin: 0 auto;
  width: 705px;
  height: 397px;
}

.article-main-picture-text {
  margin-top: 8px;
  max-width: 615px;
}

.article-main-picture-text .photo-info {
  color: #666;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 300;
}

.article-main-picture-text .photo-author {
  color: #999;
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
}

.body-text {
  display: block;
  margin: 0 auto;
  width: 570px;
}

.body-text p {
  font-size: 1.0625rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-family: georgia, "times new roman", times, serif;
}

/*********************************/
/* Other Articles Footer Section */
/*********************************/




/*********************************/
/*             Footer            */
/*********************************/